body{
    height: 100vh;
    background-color:#2d2d2d;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    text-decoration: underline;
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 550px;
    margin-right: -190px;
    color: aliceblue;
    
}
form{
    display: flex;
    flex-direction: column;
}
input{
    height: 50px;
    background: rgba(217,217,217,0.1);
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
    font-weight: 400;
    padding: 20px;
    text-indent: 7px;
    color: var(--white-color);
    outline: none;
    opacity: 0.8;
    margin-bottom: 16px;
}
.header{
    
}
:root{
    border-bottom-color: blue;
}
.header{
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}
.input_register_username{
    margin-bottom: 16px;
    color: azure;
}
.input_register_phone_email{
    margin-bottom: 16px;
    color: azure;
}
.input_register_password{
    margin-bottom: 16px;
    color: azure;
}
.input_register_Confirm_password{
    margin-bottom: 16px;
    color: azure;
}
.register_btn{
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.6rem;
    border-radius: 10px;
    background-color: #663ae5;
    color: aliceblue;
}
.DK_register{
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.7em;
    color: aliceblue;
}
.birday{
    font-size: 1.3em;
    margin-bottom: 5px;
    margin-left: 3px;
    padding-bottom: 5px;
}
.date_birday{
    color: aliceblue;
}