:root {
    --background-color: #2D2D2D;
    --white-color: #fff;
    --button-color: #663AE5;
}

* {
    box-sizing: inherit;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "tahoma";
}