body {
    background-color: #D9D9D9;
}

.content_container {
    margin: 0 176px;
    background-color: white;
    height: 100%;
    position: relative;
}

.content {
    width: 850px;
}

.slide_wrapper {
    padding: 40px 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.splide {
    width: 800px;
    margin: 0 auto;
}

.header {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.splide__slide {
    text-align: center;
}

.splide__slide img {
    width: 160px;
    height: 160px;
    cursor: pointer;
}

.splide p {
    padding-top: 5px;
    font-size: 1.4rem;
}

.splide__arrow {
    width: 3em !important;
    height: 3em !important;
}

@media screen and (min-width: 640px) {
    .slide_wrapper .splide {
        padding: 0 5rem;
    }
}

.content {
    margin-top: 50px;
}

.wrapper_mixSelection {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.mixSelection {
    width: 700px;
    margin: 0 auto;
    padding: 40px 0;
}

.selection_header {
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 600;
}

.selectionPlayList {
    height: 200px;
    background-color: #D9D9D9;
    position: relative;
    display: flex;
    align-items: center;
}

.selection_img {
    width: 170px;
    height: 170px;
    margin: 20px;
    cursor: pointer;
}

.selection_music {
    position: absolute;
    left: 220px;
    width: 450px;
    list-style-type: none;
}

.selection_song {
    font-size: 1.4rem;
    height: 25px;
    line-height: 20px;
    margin: 5px 0;
    cursor: pointer;
}

.selection_song:hover {
    background-color: rgba(99, 99, 99, 0.2);
}

.selection_view {
    display: block;
    float: right;
}

.sidebar {
    position: absolute;
    width: 300px;
    top: 30px;
    right: 0;
}

.sidebar_header {
    font-size: 1.2rem;
}

.sidebar_header a {
    cursor: pointer;
}

.sidebar_icon {
    font-size: 1.4rem;
}

.sidebar_header a {
    float: right;
    padding-right: 20px;
}

.solid {
    border: solid 1px #D9D9D9;
    margin-top: 5px;
    margin-bottom: 20px;
}

.box {
    height: 50px;
    width: 250px;
    position: relative;
    font-size: 1.2rem;
    margin-bottom: 20px;
    cursor: pointer;
}

.box-img {
    height: 50px;
    width: 50px;
}

.box_header {
    position: absolute;
    display: block;
    left: 60px;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

.box_icon {
    width: 180px;
    position: absolute;
    display: block;
    left: 60px;
    top: 20px;
    font-size: 1.4rem;
}

.bdr img {
    border-radius: 50%;
}

.box_follow {
    float: right;
    font-size: 1.2rem;
    height: 20px;
    width: 60px;
    text-align: center;
    border: solid #D9D9D9 1px;
    cursor: pointer;
}

.music_player {
    height: 35px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #D9D9D9;
    display: flex;
    justify-content: space-around;
    padding: 0 154px;
    align-items: center;
}

.music_icon_control,
.music_social {
    font-size: 25px;
    width: 180px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.music_range {
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.range {
    width: 400px;
    height: 2px;
    background: transparent;
    -webkit-appearance: none;
}

.range::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background-color: #eeee;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: black;
    width: 10px;
    height: 10px;
    border-radius: 100rem;
    box-shadow: 0 0 0 3px white, 0 0 0 6px rgba(100, 100, 111, 0.05);
}

.music_box {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.music_img {
    width: 35px;
    height: 35px;
}

.music_social {
    width: 100px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
}

.modal_01 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
}

.open {
    display: block !important;
}

.modal_container {
    position: absolute;
    width: 300px;
    background-color: whitesmoke;
    right: 100px;
    top: 50px;
    color: black;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.modal_header {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 15px 10px;
}

.modal_directional  h3{
    display: inline-block;
    font-size: 1.6rem;
    padding: 0 10px;
    margin-bottom: 15px;
}

.modal_content p{
    font-size: 1.4rem;
    padding: 0 10px;
    margin-bottom: 5px;
}

.name {
    font-weight: 500;
}

.time {
    display: inline-block;
    font-size: 1.4rem;
    padding: 0 10px;
    margin-bottom: 10px;
    color: #F4B183;
    font-weight: 300;
}

.modal-profile {
    position: absolute;
    width: 300px;
    background-color: whitesmoke;
    right: 20px;
    top: 50px;
    color: black;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.modal-profile-header {
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.modal-avatar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.modal-more {
    padding-left: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.option {
    display: flex;
    height: 30px;
    font-size: 1.4rem;
    align-items: center;
    opacity: 0.8;
}

.option:hover {
    opacity: 1;
}

.option ion-icon{
    width: 20px;
    height: 20px;
    padding-right:30px;
}


